* text=auto
# These files are text and should be normalized (convert crlf => lf)
*.cs text
*.xaml text
*.csproj text
*.sln text
*.tt text
*.ps1 text
*.cmd text
*.msbuild text
*.md text

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png binary
*.jepg binary

*.sdf binary

*.prettierrc binary
*.eslintignore binary
*.prettierignore binary
*.eslintrc binary
*.gitattributes binary
*.editorconfig

*.js eol=lf
*.ts eol=lf
*.jsx eol=lf
*.tsx eol=lf
*.json eol=lf
*.less eol=lf
.eslint eol=lf
.prettierrc eol=lf
.eslintignore eol=lf
.prettierignore eol=lf
.editorconfig eol=lf
